.container {
    width: 100%;
    height: 100%;
    position: relative;
    .content {
        width: 100%;
        height: 100%;
        .left {
            width: 4.84rem;
            height: 100%;
            box-sizing: border-box;
            border-right: 1px solid rgba(171, 178, 191, 0.3);
            position: relative;
            display: inline-block;
            vertical-align: top;
            .inside {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                box-sizing: border-box;
                padding-left: .95rem;
                a {
                    text-decoration: none;
                    position: relative;
                }
                a:link {
                    text-decoration: none;
                }
                a:visited {
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: none;
                }
                a:active {
                    text-decoration: none;
                }
                p {
                    font-size: .18rem;
                    color: #3E4045;
                    line-height: .25rem;
                    transition: all .2s linear;
                    position: relative;
                    margin-bottom: .36rem;
                    box-sizing: border-box;
                    padding-left: .2rem;
                    cursor: pointer;
                    font-weight: bold;
                    text-decoration: none;
                    span {
                        display: inline-block;
                        width: 0;
                        height: .15rem;
                        opacity: .4;
                        position: absolute;
                        bottom: -.05rem;
                        left: 0;
                        transition: width .4s linear;
                    }
                    &:hover {
                        span {
                            width: 1.2rem;
                            background-color: #DAE0E9;
                            height: .15rem;
                            opacity: .6;
                            bottom: -.05rem;
                        }
                    }
                }
                .active {
                    font-size: .28rem;
                    span {
                        width: 1.2rem;
                        background-color: #008DDC !important;
                        height: .15rem !important;
                        opacity: .6 !important;
                        bottom: -.1rem !important;
                    }
                }
            }
        }
        .right {
            width: calc(100% - 5.7rem);
            height: 100%;
            overflow: auto;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            padding-top: .8rem;
            animation: show .3s;
            position: relative;
            .title {
                font-size: .4rem;
                line-height: .56rem;
                color: #666F7E;
                margin-bottom: .4rem;
                padding-left: 0 !important;
            }
            .html {
                font-size: .16rem;
                line-height: .22rem;
                color: #666F7E;
                .html-title {
                    margin-bottom: .2rem;
                }
                .html-content {
                    margin-bottom: .6rem;
                }
            }
        }
        @keyframes show {
            from {
                transform: translateY(30px);
                opacity: 0;
            }
            to {}
        }
    }
    .alignCenter {
        text-align: center;
    }
}